.project-gif {
}

.city_project {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background: #001639;
  color: whitesmoke;
  vertical-align: middle;
  font-size: x-large;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: bold;
}

.project-container {
  height: 60vh;
}
.date_project {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background: #001639;
  color: whitesmoke;
  vertical-align: middle;
  font-size: x-large;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: bold;
}
.project-info-pic {
  text-decoration: none;
  color: black;
  display: flex;
  padding-right: 0%;
  padding-left: 0%;
  height: 60vh;
}

a:hover {
  text-decoration: none;
}
.project-card {
  display: flex;
}

.project-container-info {
  padding-right: none;
  padding-left: none;
}
.project-info {
  display: flex;
  margin: auto;
  padding: 20px;
  height: 50%;
  padding-top: 50px;
  padding-left: 50px;
}
.project-info h2 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  text-align: inherit;
}
.project-info p {
  text-align: inherit;
}
.project-logo {
  position: relative;
}
.project-logo img {
  display: flex;
  padding-right: none;
  padding-left: none;
  object-fit: cover;
  position: absolute;
  border-radius: 10px;
  top: 45%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: auto;
}

.project-headline {
  padding: 19px;
  padding-left: 30px;
}
.project-img {
  object-fit: cover;
  padding: 0%;
}
.project-img img {
  padding-right: none;
  padding-left: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.city-p {
  color: whitesmoke;
  vertical-align: middle;
  margin: auto;
  height: 40%;
  text-align: center;
  font-size: x-large;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: bold;
  vertical-align: auto;
}
