.line-project {
  width: 200px;
  height: 3px;
  background-color: #70c1eb;
  display: inline-block;
  margin: 25px 0;
}

.company-top {
  display: flex;
  height: 40vh;

  padding-right: 0%;
  padding-left: 0%;
}
.company-info-intro {
  padding-top: 30px;

  padding-right: none;
  padding-left: 40px;
  font-size: 25px;
  line-height: 200%;
}

.company-info {
  padding-right: none;
  padding: 30px;
  text-align: justify;
  padding-top: 45px;
}
.company-info p {
  font-size: 18px;
  padding-top: 40xp;
}

.company-logo {
  padding-right: 0%;
  padding-left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #313131;
  border-radius: 10px;
}

.company-middle {
  height: 40vh;
  display: flex;

  padding-right: 0%;
  padding-left: 0%;
}
.map {
  padding-right: 0%;
  padding-left: 0%;
}

.company-bottom {
  height: 40vh;
  display: flex;

  padding-right: 0%;
  padding-left: 0%;
}
.company-pic {
  padding: 0%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
