.banner-project {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
  height: 100vh;
  height: 70vh;
}

.banner-project h1 {
  margin: auto;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.banner-project h3 {
  margin: auto;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 25px;
  text-align: center;
}

.banner-project p {
  font-size: 20px;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.line-project {
  width: 200px;
  height: 3px;
  background-color: #70c1eb;
  display: inline-block;
  margin: 25px 0;
}

.company-top {
  display: flex;
  height: 40vh;

  padding-right: 0%;
  padding-left: 0%;
}
.company-info-intro {
  padding-top: 30px;

  padding-right: none;
  padding-left: 40px;
  font-size: 25px;
  line-height: 200%;
}

.company-info {
  padding-right: none;
  padding: 30px;
  text-align: justify;
  padding-top: 45px;
}
.company-info p {
  font-size: 18px;
  padding-top: 40xp;
}

.company-logo {
  padding-right: 0%;
  padding-left: 0%;
}

.company-middle {
  height: 40vh;
  display: flex;

  padding-right: 0%;
  padding-left: 0%;
}
.map {
  padding-right: 0%;
  padding-left: 0%;
}

.company-bottom {
  height: 40vh;
  display: flex;

  padding-right: 0%;
  padding-left: 0%;
}
