<div class="container">
  <div class="banner" style="">
    <h1>AJH Consulting </h1>
    <p>Innovation, transformation and leadership occur in many ways. At AHJ, our ability to help solve clients’ most complex issues is distinct. We deliver strategy and implementation, from a business and technology view, to help you lead in the markets where you compete.</p>
    <!--<a class="btn btn-flat" href="/projects/new">New Project Request</a> -->
  </div>
</div>
