<div class="banner-projects-size">
  <%= cl_image_tag("photo-1534988333262-c455b9332e52_goh3zf", class: "banner-project-img")  %>
  <div class="banner-project-info">
    <h2>Discover. Grow. Excel.
    </h2>
    <div class="line">
    </div>
    <p>
      <strong>AJH Consulting</strong>, <br>
      Where your project is brought to light.
    </p>
  </div>
</div>
</div>
