<div class="col-sm-12 sticky-container">
  <div id="review-anchor">
    <div id='review-popup'></div>
  </div>
  <% if current_user %>
    <%= link_to 'add a review', new_review_path, class: "btn btn-flat", remote: true %>
  <% else %>
    <%= link_to "add a review", new_session_path %>
  <% end %>
  <button type="button" class="btn btn-flat float-left" data-toggle="modal" data-target="#project-modal">
    Propose a Project
  </button>
  <div class="float-right">
    <a class="btn btn-flat" href="https://calendly.com/addisonajh/30min">Plan a Meeting?</a>
  </div>
</div>
