.carousel-caption {
}

.gray-box {
  height: 250px;
  width: 800px;
  background: rgba(148, 147, 147, 0.534);
  border-radius: 15px;
}

.container-carousel {
  height: 40vh;
  position: relative;
}
.gray-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.carousel-inner {
}
.carousel-item {
}
.d-block {
}
.carousel-caption span {
  line-height: 3px;
}
.carousel-caption {
  position: relative;
  bottom: 0px;
  width: 550px;
  line-height: 3px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.carousel-caption h4 {
  font-style: italic;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.carousel-caption p {
  text-align: end;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
