#review-anchor {
  position: relative;
}
#review-popup {
  z-index: 2;
  position: absolute;
  transition: all 0.5s ease;
  top: 0px;
  &.active {
    top: -378px;
    background-color: #202036;
    border-radius: 5px;
    width: 40vw;
    padding: 50px;
  }
}
