#review-anchor {
  position: relative
}
#review-popup {
  z-index: 2;
  position: absolute;
  transition: all 0.5s ease;
  top: 0px;
}
#review-popup.active {
  position: absolute;
  top: -230px;
  background-color: blue;
  border-radius: 5px;
}
